.navbar {
    position: fixed;
    width: 98%;
    top: 0;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    transition: background-color 0.3s, padding 0.3s;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: #000022;
    padding: 0px 20px;
}

.navbar.transparent {
    background-color: rgba(51, 51, 51, 0.5);
    /* Màu nền trong suốt */
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 60px;
    margin-right: 20px;
    margin-left: 140px;
}

.navbar-logo span {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.navbar-menu li {
    margin: 0 10px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    position: relative;
}

.navbar-menu a:not(.login-button)::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-menu a:hover:not(.login-button)::after,
.navbar-menu a.active:not(.login-button)::after {
    width: 100%;
}

.login-button {
    font-size: 22px; /* Increase the font size */
    background-color: blue;
    padding: 8px 14px; /* Increase the padding to maintain the aspect ratio */
    border-radius: 5px;
    color: white;
    position: relative; /* Required for tooltip positioning */
    transition: background-color 0.3s;
}

.login-button:hover {
    transform: scale(1.1); /* Increase the size of the button on hover */
}

.login-button::after {
    content: "Join us to see more";
    position: absolute;
    top: 120%; /* Increase space below the button */
    left: 50%;
    transform: translateX(-60%); /* Adjust to center and shift left */
    background-color: white;
    color: #333;
    padding: 10px 20px; /* Increase padding for larger tooltip */
    border-radius: 5px;
    font-size: 16px; /* Increase font size */
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden; /* Hide by default */
    z-index: 1001; /* Ensure the tooltip is above other elements */
}

.login-button:hover::after {
    opacity: 1;
    visibility: visible; /* Show on hover */
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 90vh;
    z-index: 999;
    text-align: center;
    transition: .2s;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 1.5rem 0;
}

.header .navbar img {
    width: 150px;
}
