@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
  transform: scale(0.8);
  transform-origin: 0 0; /* Đảm bảo thu nhỏ từ góc trên bên trái */
  width: 125%; /* Để bù đắp cho việc thu nhỏ, bạn có thể cần điều chỉnh chiều rộng */
  height: 125%;
}
*,
::before,
::after {
  border-width: 0;
}
